<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.bryx.workflow.mapper.WorkflowDefMapper">

 	 <delete id="forceDeleteWorkflowDef" >
         delete from WORKFLOW_OBJECT_ENTITY_REL where OBJECT_ID=#{id} and OBJECT_TYPE='WORKFLOW_DEF';
         delete from WORKFLOW_INST_TASK where WORKFLOW_INST_ID in
                (select ID from WORKFLOW_INST where DEF_ID = #{id});
         delete from WORKFLOW_INST where DEF_ID = #{id};
         delete from WORKFLOW_DEF_REV where DEF_ID = #{id};
         delete from WORKFLOW_DEF where ID = #{id};
     </delete>

</mapper>